<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.jobs.dao.ICom_community_dao92">

<select id="list92" resultType="com.project.jobs.dto.Com_community" >
  select * from com_community
</select>


</mapper>