<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.jobs.dao.ICom_community_dao92">
<!-- 전체글 -->
<select id="list92" resultType="com.project.jobs.dto.Com_community" >
  select * from com_community order by com_community_no desc LIMIT #{start},#{cnt}
</select>
<select id="detail92" resultType="com.project.jobs.dto.Com_community" >
	select * from com_community where com_community_no = #{no};
</select>
<insert id="write92">
	insert into com_community values(null,#{dto.com_no},#{dto.title},#{dto.content},now(),#{dto.category},0,#{dto.secret})
</insert>
<update id="modify">
	update com_community set title=#{dto.title},content=#{dto.content},
	category=#{dto.category},secret=#{dto.secret},reg_date=now() 
	where com_community_no=#{dto.com_community_no}
</update>
<delete id="delete">
	delete from com_community where com_community_no=#{no}
</delete>
<select id="countAll">
	select count(*) from com_community
</select>

<!-- com_no로 게시글,댓글 -->
<select id="listByNo" resultType="com.project.jobs.dto.Com_community">
	select * from com_community where com_no = #{no}
</select>
<select id="replyListByNo" resultType="com.project.jobs.dto.Com_reply">
	select * from com_reply where com_no = #{no}
</select>
<!-- 댓글 -->
<insert id="insert_reply">
	insert into com_reply values(null,#{dto.com_community_no},#{dto.com_no},#{dto.content},now())
</insert>
<select id="replyList" resultType="com.project.jobs.dto.Com_reply">
	select * from com_reply where com_community_no = #{no} 
</select>
<delete id="delete_reply">
	delete from com_reply where com_reply_no=#{no}
</delete>


<!-- com_no로com_id 찾기 -->
<select id="com_id">
	select com_id from company where com_no=#{no}
</select>

<!-- 카테고리 -->
<select id="clist" resultType="com.project.jobs.dto.Com_community_category">
	select * from com_community_category
</select>

<!-- 본사람 카운트 -->
<update id="viewsUp">
	update com_community set views=views+1 where com_community_no = #{no}
</update>

<!-- 검색 -->
<select id="searchList" resultType="com.project.jobs.dto.Com_community" >
  select * from com_community where content LIKE CONCAT('%', #{search}, '%') order by com_community_no desc LIMIT #{start},#{cnt} 
</select>

<select id="searchCount">
	select count(*) from com_community where content LIKE CONCAT('%', #{search}, '%')
</select>


<!-- 인기글 -->
<select id="chList" resultType="com.project.jobs.dto.Com_community">
	select * from com_community where category=#{category} order by com_community_no desc LIMIT #{start},#{cnt}
</select>
<select id="chListCount">
	select count(*) from com_community where category=#{category}
</select>

<!-- 카테고리별 게시글 리스트 -->
<select id="hotList" resultType="com.project.jobs.dto.Com_community">
	select * from com_community order by views desc LIMIT #{start},#{cnt}
</select>

</mapper>