<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.jobs.dao.ICS_Dao99">
	<!-- 고객센터 문의 신고 -->
	<select id="getList_99">
		SELECT q.cs_no, q.mem_no, q.title, q.content, q.reg_date, q.category, q.ch_private,
		case when r.cs_no IS NULL then '미답변' ELSE '답변완료' end AS answerStatus
		FROM cs_question q
		LEFT JOIN cs_request r
		ON q.cs_no = r.cs_no
		order by cs_no DESC
	</select>
	
	<select id="getCsWriterId_99">
		SELECT 
			COALESCE(c.com_id, m.mem_id) AS mem_id
		FROM
			cs_question q
			LEFT JOIN company c ON q.com_no = c.com_no
			LEFT JOIN member m ON q.mem_no = m.mem_no
		WHERE 
			q.cs_no = #{cs_no}
	</select>
	
	<select id="getlistDetail_99">
		SELECT * FROM cs_question WHERE cs_no = #{cs_no}
	</select>
	<insert id="write_99" >
		INSERT INTO cs_question (mem_no, com_no, title, content, reg_date, category, ch_private)
		VALUES (
			<choose>
				<when test="mem_no != null and mem_no !=''">
					#{mem_no},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>
			<choose>
				<when test="com_no != null and com_no != ''">
					#{com_no},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>
			#{title}, #{content}, DATE(NOW()), #{category}, #{ch_private}
		)
	</insert>
	<delete id="deleteDao_99">
		DELETE FROM cs_question WHERE cs_no = #{cs_no}
	</delete>
	<update id="modifyDao_99">
		UPDATE cs_question SET title = #{title}, content = #{content}, category = #{category}, ch_private = #{ch_private} WHERE cs_no = #{cs_no}
	</update>
	<select id="csSerchData_99">
		SELECT * FROM cs_question WHERE title LIKE concat('%', #{searchData}, '%') order by cs_no DESC
	</select>
	<select id="csCategory_99">
		SELECT * FROM cs_question 
		<choose>
			<when test="category == ''">
				
			</when>
			<otherwise>
				WHERE category = #{category}
			</otherwise>
		</choose>
		
	</select>
	<select id="getQuestionList">
		SELECT * FROM cs_question WHERE com_no = #{com_no}
	</select>
	<!-- 문의 답변 -->
	<insert id="writeRequestDao_99">
		INSERT INTO cs_request (cs_no, content, reg_date, title)
		VALUES (#{cs_no}, #{content}, DATE(NOW()), #{title})
	</insert>
	<select id="getRequestDao_99">
		SELECT request_no, cs_no, title, content, reg_date FROM cs_request WHERE cs_no = #{cs_no}
	</select>
	<update id="requestModify_99">
		UPDATE cs_request SET title = #{title}, content = #{content}, reg_date = DATE(NOW()) WHERE cs_no = #{cs_no}
	</update>
</mapper>