<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Cart</title>
</head>
<body>
<h1>내 장바구니</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>상품 번호</th>
                <th>상품 이름</th>
                <th>상품 정보</th>
                <th>가격</th>
                <th>수량</th>
                <th>삭제</th>
                <th>주문하기</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cart : ${cartList}">
                <td th:text="${cart.product.pNo}"></td>
                <td th:text="${cart.product.pName}"></td>
                <td th:text="${cart.product.pInfo}"></td>
                <td th:text="${cart.product.pPrice}"></td>
                <td th:text="${cart.quantity}"></td>
                <td>
                    <form th:action="@{/cart/delete/{id}(id=${cart.id})}" method="post">
                        <button type="submit">삭제하기</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/order/order/{id}(id=${cart.id})}" method="post">
                        <button type="submit">주문하기</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="text-align: right;">
                    <strong>총 가격:</strong> <span th:text="${totalPrice}"></span> 원
                </td>
            </tr>
        </tbody>
    </table>
</div>
<a href="/mypage">뒤로 가기</a>
</body>
</html>
