<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>GoShopping에 오신 것을 환영합니다!</h1>
    <div>
        <div th:if="${loggedIn}">
            <a href="/mypage"><button>마이페이지</button></a>
            <a href="/logout"><button>로그아웃</button></a>
        </div>
        <div th:if="${!loggedIn}">
            <a href="/signup"><button>회원가입</button></a>
            <a href="/login"><button>로그인</button></a>
        </div>
    </div>
    <h2>상품 목록</h2>
    <table border="1">
        <thead>
            <tr>
                <th>상품명</th>
                <th>상품정보</th>
                <th>상품가격</th>
                <th>상품재고</th>
                <th>주문수량</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${productList}">
                <td><a th:href="@{'/admin/product/detail/' + ${product.pNo}}" th:text="${product.pName}"></a></td>
                <td th:text="${product.pInfo}"></td>
                <td th:text="${product.pPrice}"></td>
                <td th:text="${product.pStock}"></td>
                <td th:text="${product.pOrder}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>


