<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Page</title>
</head>
<body>
<h1>마이 페이지</h1>
<div>
    <h2>Welcome, <span th:text="${session.userId}">User</span></h2>
    <div th:if="${session.userRole == 'Manager'}">
        <h3>상품 관리</h3>
        <a href="/admin/product/add">상품 등록</a>
        <h3>상품 목록</h3>
        <table>
            <thead>
                <tr>
                    <th>상품 번호</th>
                    <th>상품 이름</th>
                    <th>상품 정보</th>
                    <th>가격</th>
                    <th>재고</th>
                    <th>주문 수량</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${productList}">
                    <td th:text="${product.pNo}"></td>
                    <td><a th:href="@{'/admin/product/detail/' + ${product.pNo}}" th:text="${product.pName}"></a></td>
                    <td th:text="${product.pInfo}"></td>
                    <td th:text="${product.pPrice}"></td>
                    <td th:text="${product.pStock}"></td>
                    <td th:text="${product.pOrder}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${session.userRole == 'Member'}">
        <h3>Your Purchases</h3>
        <a href="/cart/mycart">내 장바구니</a>
        <a href="/order/myorders">내 주문</a>
    </div>
</div>
<a href="/">홈으로</a>
</body>
</html>

