<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문 페이지</title>
</head>
<body>
    <h1>주문 페이지</h1>
    <div>
        <h2>상품 이름: <span th:text="${product.pName}"></span></h2>
        <p>가격: <span th:text="${product.pPrice}"></span></p>
        <p>수량: <span th:text="${quantity}"></span></p>
        <form th:action="@{/order/add}" method="post">
            <input type="hidden" name="productId" th:value="${product.pNo}" />
            <input type="hidden" name="quantity" th:value="${quantity}" />
            <label for="address">주소:</label>
            <input type="text" id="address" name="address" required />
            <label for="paymentMethod">결제 방법:</label>
            <select id="paymentMethod" name="paymentMethod" required>
                <option value="credit_card">신용카드</option>
                <option value="bank_transfer">계좌이체</option>
            </select>
            <button type="submit" id="orderButton" th:disabled="${product.pStock == 0}">주문하기</button>
        </form>
    </div>
    <a href="/">뒤로 가기</a>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var stock = [[${product.pStock}]];
        if (stock == 0) {
            alert('빠른 시일 내에 상품을 준비하겠습니다');
        }
        /*]]>*/
    </script>
</body>
</html>
