@charset "UTF-8";

body{
	min-height:100vh;
	position:relative;
}
.header_logo_size{
    width:150px;
    height:auto;
}
.bg-jobs{
	background-color:#1c459a;
}
.btn-jobs {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1c459a;
    --bs-btn-border-color: #1c459a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1c459a;
    --bs-btn-disabled-border-color: #1c459a;
}

.nav-jobs li a{
	color:#333;
}

.nav-jobs li a:hover{
	color:#1c459a;
	font-weight:bold;
}
.search-box{
	width:250px;
}
.img_box{
	
	border-radius:5px;
	overflow:hidden;
}
.img_box img{
	min-width:100%;
	height:auto;
}

.text_ellipsis{
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.fs-7 {
    font-size: 0.8rem !important;
}

.btn-jobs-community {
    --bs-btn-color: #fff;
    --bs-btn-bg: #51e554;
    --bs-btn-border-color: #51e554;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6bf66e;
    --bs-btn-hover-border-color: #6bf66e;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6bf66e;
    --bs-btn-active-border-color: #6bf66e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #51e554;
    --bs-btn-disabled-border-color: #51e554;
}

